<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>SQL</comment>

	<entry key="findAll">
		SELECT
		       EMP_ID
		     , EMP_NAME
		     , SALARY
		     , DEPT_TITLE
		     , JOB_NAME
		  FROM
		       EMPLOYEE
		  JOIN
		       JOB USING (JOB_CODE)
		  JOIN 
		       DEPARTMENT ON (DEPT_CODE = DEPT_ID)
	</entry>
	
	<entry key="findByDept">
					SELECT 
					       EMP_ID
					     , EMP_NAME
					     , SALARY
					     , DEPT_TITLE
					     , JOB_NAME
					 FROM
					       EMPLOYEE
					 JOIN  
					       DEPARTMENT ON (DEPT_ID = DEPT_CODE)
					 JOIN 
					       JOB USING (JOB_CODE)
					WHERE
					       DEPT_TITLE = ?
	</entry>
	
	<entry key="findByJob">
		SELECT        
		       E.EMP_ID
		     , E.EMP_NAME
		     , E.SALARY
		     , D.DEPT_TITLE
		     , J.JOB_NAME
		  FROM
		       EMPLOYEE E
		     , JOB J
		     , DEPARTMENT D
		WHERE
		       D.DEPT_ID = E.DEPT_CODE 
		  AND
		       J.JOB_CODE = E.JOB_CODE 
		  AND
		       J.JOB_NAME = ?
	</entry>
	
	<entry key="empId">
		SELECT
		       EMP_ID
		     , EMP_NAME
		     , SALARY
		     , DEPT_TITLE
		     , JOB_NAME
		FROM
		       EMPLOYEE E
		JOIN  
		       DEPARTMENT D ON (D.DEPT_ID = E.DEPT_CODE)
		JOIN 
		       JOB USING (JOB_CODE)
		WHERE
		       EMP_ID = ?
	</entry>
	
	<entry key="costTop">
		SELECT
		       EMP_ID
		     , EMP_NAME
		     , SALARY
		FROM (
		        SELECT 
		               EMP_ID
		             , EMP_NAME
		             , SALARY
		        FROM EMPLOYEE
		        WHERE SALARY > 0 
		        ORDER BY SALARY DESC
		     )
		WHERE ROWNUM &lt;= 5
	</entry>
	
	<entry key="costBottom">
		SELECT
		       EMP_ID
		     , EMP_NAME
		     , SALARY
		 FROM (
		        SELECT 
		               EMP_ID
		             , EMP_NAME
		             , SALARY
		          FROM 
		               EMPLOYEE
		         WHERE 
		               SALARY > 0 
		         ORDER 
		            BY 
		               SALARY ASC
		     )
		 WHERE 
		       ROWNUM &lt;= 5
	</entry>
	
	<entry key="save">
		INSERT 
		  INTO 
		       EMPLOYEE
		       (
		       EMP_ID
		     , EMP_NAME
		     , EMP_NO
		     , EMAIL
		     , PHONE
		     , DEPT_CODE
		     , JOB_CODE
		     , SAL_LEVEL
		     , SALARY
		     , BONUS
		     , MANAGER_ID
		     , HIRE_DATE
		     , ENT_DATE
		     , ENT_YN
		       )
		VALUES
		       (
		       ?
		     , ?
		     , ?
		     , NULL
		     , NULL
		     , NULL
		     , ?
		     , ?
		     , NULL
		     , NULL
		     , NULL
		     , SYSDATE
		     , NULL
		     , 'N'
		       )
	</entry>
	
	<entry key="update">
		UPDATE 
			   EMPLOYEE
		   SET
			   SALARY = ?     
			 , DEPT_CODE = ?
			 , JOB_CODE = ?
		 WHERE
			   EMP_ID = ?
	</entry>
	
	<entry key="delete">
		UPDATE
			   EMPLOYEE
		   SET
		       ENT_DATE = SYSDATE
		     , ENT_YN = 'Y'
		 WHERE
		       EMP_ID = ?
	</entry>
</properties>
